@import '@/theme/include.scss';

.segmentsEdit {
  align-items: stretch;
  display: flex;

  &Aside {
    padding: 0 1.5rem;
    width: 18rem;
  }

  &Error {
    color: $color-red-darkest;
    display: inline-block;
    font-size: .75rem;
    padding: 1rem 0 0;
  }

  &Main {
    flex-grow: 1;
  }

  &Title {
    font-size: .875rem;
    font-weight: bold;
    margin: 0;
    padding: .5rem 0;

    &_level3 {
      font-size: .75rem;
    }
  }
}

.dropArea {
  &First.dropAreaFirst {
    margin-top: -.75rem;
  }

  &Last.dropAreaLast {
    margin-top: .75rem;
  }
}

.conditionsGroup {
  background-color: $color-gray-lighter;
  border-radius: .5rem;
  padding: .5rem 0;
  position: relative;
}
