@import '@/theme/include.scss';

.settings {
  &Select {
    display: flex;

    &Link {
      display: inline-block;
      font-size: .75rem;
      line-height: 2rem;
      position: relative;

      & + & {
        margin-left: 1.5rem;
      }

      &Active {
        color: $color-black;

        &::after {
          background: $color-pink;
          border-radius: .125rem;
          content: '';
          display: block;
          height: .25rem;
          left: 0;
          position: absolute;
          right: 0;
          top: 100%;
        }
      }
    }
  }
}
