@import '@/theme/include.scss';

.wrapper {
  box-sizing: border-box;
  color: $color-white;
  font-size: .75rem;
  height: 30rem;
  min-width: 16.875rem;
  position: relative;
  width: 16.875rem;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: row;
  left: 1rem;
  position: absolute;
  top: 1rem;

  &:hover {
    opacity: 1;
  }

  &Icon {
    border-radius: 50%;
    height: 2rem;
    margin-right: .75rem;
    width: 2rem;
  }

  &Info {
    color: $color-black;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 17.25rem;
    min-width: 0;
    text-align: left;

    &Title {
      color: $color-primary-darkest;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    &TypeDescripiton {
      font-size: .7rem;
      padding-top: .15rem;
    }
  }
}

.content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  height: 100%;
  width: 100%;
}
