@import '@/theme/include.scss';

.wrapper {
  border-radius: .375rem;
  box-sizing: border-box;
  color: $color-white;
  font-size: .75rem;
  height: 30rem;
  min-width: 16.875rem;
  overflow: hidden;
  position: relative;
  width: 16.875rem;
  z-index: 1;
}

.header {
  background: linear-gradient(to bottom, $color-black 0, transparent 100%);
  display: flex;
  flex-direction: column;
  height: 8.75rem;
  left: 0;
  padding: 0 .5rem;
  position: absolute;
  top: 0;
  width: 100%;

  &:hover {
    opacity: 1;
  }

  &Marker {
    background-color: $color-white;
    height: .125rem;
    margin: .5rem 0;
    width: 100%;
  }

  &Icon {
    border-radius: 50%;
    height: 2rem;
    margin-right: .5rem;
    width: 2rem;
  }

  &InfoGroup {
    display: flex;
    flex-direction: row;
  }

  &Info {
    color: $color-white;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 17.25rem;
    min-width: 0;
    text-align: left;

    &Title {
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    &TypeDescripiton {
      font-size: .7rem;
      padding-top: .15rem;
    }
  }
}

.content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
