@import '@/theme/include.scss';

.params {
  &Footer {
    align-items: center;
    display: flex;
    width: 100%;

    &Button {
      margin: 0 .75rem;
      padding: 0 1.5rem;
    }

    &Count {
      font-weight: bold;
      padding-left: .5rem;
    }

    &Label {
      font-size: .75rem;
      line-height: 1.5rem;
    }

    &Section {
      flex-grow: 1;
      padding: .5rem 0;
    }
  }

  &Header {
    padding-top: 1rem;
  }

  &Main {
    margin: 1rem 0;
    max-height: 17rem;
    min-width: 32rem;
    overflow-y: auto;
    padding: .5rem 0;
  }

  &Section {
    padding-bottom: .5rem;

    &Label,
    &Name {
      display: block;
      font-size: .75rem;
      line-height: 1.5rem;
    }

    &Label {
      color: $color-black;
      cursor: pointer;
      padding-left: 1rem;
    }

    &Name {
      color: $color-gray-darker;
    }
  }
}
