.td {
  &Size {
    &Wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  }
}

.indicatorWrapper {
  align-items: center;
  display: flex;
}

.tableFileIcon {
  height: auto;
  width: 2.313rem;
}

.loadButtonsWrapper {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1.25rem;
}

