@import '@/theme/include.scss';

.wrapper {
  flex-grow: 1;
  margin-bottom: 1rem;
  position: relative;
}

.header {
  display: flex;
  padding: .5rem 1rem 1rem 0;

  &Spacer {
    flex-grow: 1;
  }

  &Title {
    font-size: .75rem;
    font-weight: bold;
    width: 7.5rem;

    &[data-field='phones'],
    &[data-field='emails'] {
      padding-right: 1.75rem;
      text-align: right;
    }
  }
}

.footer {
  margin-top: 1.5rem;
  padding-left: 7.5%;
}

.addButton {
  &Icon {
    margin-right: .5em;
  }
}

.empty {
  text-align: center;

  &Icon {
    color: $color-gray;
    font-size: 5rem;
  }

  &Body {
    color: $color-gray-darker;
    margin: 1rem 0;
  }
}

.logicOperator {
  color: $color-pink;
  font-size: .75em;
  height: 1em;
  line-height: 1;
  padding: 0 10%;
  position: relative;
  text-transform: uppercase;
  width: 100%;

  &.and {
    height: 2em;
    line-height: 1.25;
    padding-bottom: .5em;
    padding-top: .5em;
  }

  &.or {
    background-color: $color-gray-lighter;
    height: 2em;
    line-height: 1;
    margin: -.125em 0;
    padding-bottom: .5em;
    padding-top: .5em;

    &::before {
      border-bottom: thin solid $color-gray;
      content: '';
      left: .5rem;
      position: absolute;
      right: .5rem;
      top: 50%;
    }
  }

  &.or &Text {
    background-color: $color-gray-lighter;
  }

  &Text {
    display: inline-block;
    padding: 0 .5em;
    position: relative;
    text-align: center;
    user-select: none;
    width: 3.5em;
    z-index: 1;
  }
}

.dropArea {
  background-color: transparent;
  display: none;
  height: .125rem;
  position: absolute;
  width: 100%;
  z-index: 1;


  &.align-start {
    margin-top: .125rem;
    transform: translateY(.25rem);
  }

  &.align-middle {
    margin-top: -.75rem;
  }

  &.align-end {
    margin-top: -.125rem;
    transform: translateY(-.25rem);
  }

  &[data-can-drop='true'] {
    display: block;
  }

  &[data-is-over='true'] {
    background-color: $color-primary;
  }

  &[data-is-first='true'] {
    margin-top: -.75rem;
  }

  &[data-is-last='true'] {
    margin-top: .75rem;
  }

  &Overlay {
    background-color: transparent;
    height: 1rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  &.align-start &Overlay {
    top: 0;
  }

  &.align-middle &Overlay {
    top: 50%;
    transform: translateY(-50%);
  }

  &.align-end &Overlay {
    bottom: 0;
  }
}
