@import '@/theme/include.scss';

.icon {
  color: $color-primary-darkest;
  font-size: 2em;
  height: 1em;
  transition: color .3s;
}

.processButton {
  align-items: center;
  background-color: unset;
  border: 0;
  color: $color-gray-darker;
  display: flex;
  flex-direction: column;
  font-size: .75rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 0 2.5em;
  position: relative;

  &:disabled {
    cursor: default;

    & > * {
      color: $color-gray-darken;
    }
  }

  &:hover:not(:disabled) {
    .icon {
      color: $color-primary-lighter;
    }
  }
}

.label {
  margin-top: .75em;
}
