@import '@/theme/include.scss';

.attributeEnum {
  display: flex;

  &Option {
    display: block;
    font-size: .75rem;
    line-height: 1.25rem;
  }

  &Section {
    align-items: stretch;
    display: flex;

    &_form {
      max-height: 10rem;
      overflow: auto;
      width: 15rem;
    }
  }
}
