@import '@/theme/include.scss';

.wrapper {
  position: relative;
}

.spinnerOverlay {
  background-color: rgba($color-gray-lightest, .5);
}

.headerWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editAbilitiesButton {
  & svg {
    margin-right: .5em;
  }
}
