@import '@/theme/include.scss';

.index {
  color: $color-gray-darker;
  padding-right: 0;
}

.sortButton {
  font-weight: inherit;
}

.diffIcon {
  margin-right: .5em;
  vertical-align: -.125em;
}

.filter {
  padding-left: 0;
  padding-right: 0;

  &Wrapper {
    display: flex;
    width: 100%;
  }

  &Input {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: .5rem;
  }
}

.header {
  &Count {
    font-weight: bold;
    padding-right: 0;
    width: 10%;
  }

  &Diff {
    color: $color-gray-darker;
    padding-left: .5em;

    & svg {
      font-size: .75em;
      margin-right: .75em;
    }
  }
}

.body {
  &Count {
    padding-right: 0;
  }

  &Diff {
    padding-left: .75em;

    &Value {
      font-size: .875em;
    }
  }
}
