@import '@/theme/include.scss';

.textarea {
  border: none;
  border-radius: .375rem;
  color: $color-black;
  font-family: inherit;
  max-width: 100%;
  min-height: 2rem;
  min-width: 10rem;
  outline: none;
  padding: .25rem .5rem;

  &::placeholder {
    color: $color-gray-darken;
  }
}

.fullwidth {
  width: 100%;
}
