@import '@/theme/include.scss';

.statistics {
  font-size: .75rem;
  line-height: 2rem;
  width: 100%;

  & td {
    padding: 0;

    &:first-child {
      color: $color-gray-darker;
    }

    &:last-child {
      color: $color-black;
      font-weight: bold;
    }
  }
}
