@import '@/theme/include.scss';

.button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: .375rem;
  box-sizing: border-box;
  display: inline-flex;
  font: .75rem Arial, Helvetica, sans-serif;
  height: 2rem;
  justify-content: center;
  min-width: 4rem;
  padding: 0 .625rem;
  transition: color .2s, background-color .2s, border-color .2s;
  vertical-align: middle;

  &:disabled {
    background-color: $color-gray;
    border: none;
    color: $color-gray-darken;

    &:hover {
      background-color: $color-gray;
      cursor: default;
    }
  }
}

.button_primary {
  background-color: $color-primary-darkest;
  border-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: $color-primary-lighter;
    border-color: $color-primary-lighter;
  }
}

.button_secondary {
  background-color: $color-gray-darken;
  border-color: $color-gray-darken;
  color: $color-white;

  &:hover:not(:disabled) {
    background-color: $color-gray;
    border-color: $color-gray;
  }
}

.button_control {
  background-color: transparent;
  border: none;
  color: $color-primary;
  min-width: 0;
  transition: background-color .3s;

  &:hover:not(:disabled) {
    background-color: $color-gray-lighter;
  }
}
