@import '@/theme/include.scss';

.editRole {
  &Button {
    margin-left: 1rem;
    white-space: nowrap;
  }

  &Error {
    margin-left: 1rem;
    white-space: nowrap;
  }

  &CheckboxWrapper {
    display: flex;
    flex-direction: column;
  }
}

