@import '@/theme/include.scss';

.spacer,
.icons {
  display: inline-flex;
  line-height: 1;
  min-height: 1em;
  order: 0;
  width: 1.25em;
}

.content {
  height: 100%;
  order: 1;
}

.icons {
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  order: 2;
  text-align: right;
  width: 0;
}

.icon {
  border: .375em solid transparent;
  width: 0;

  &_asc {
    border-bottom-width: 0;

    &.current {
      border-top-color: currentColor;
    }
  }

  &_desc {
    border-top-width: 0;

    &.current {
      border-bottom-color: currentColor;
    }
  }
}

.button {
  @include button-reset();

  align-items: stretch;
  font-family: inherit;

  &[data-align='left'] {
    & .spacer {
      order: 2;
    }

    & .icons {
      align-items: flex-start;
      order: 0;
      text-align: left;
    }
  }

  &:hover,
  &:focus-within {
    & .spacer {
      opacity: 0;
      width: 0;
    }

    & .icons {
      opacity: 1;
      width: 1.25em;
    }
  }

  &::before {
    content: '';
    height: 1em;
    width: 0;
  }
}
