@import '@/theme/include.scss';

$bp-height-md: 50rem;

.spinner {
  min-height: 17rem;
}

.header {
  padding-top: 1rem;
}

.main {
  margin: 1rem 0;
  max-height: 17rem;
  overflow-y: auto;

  @media (min-height: $bp-height-md) {
    max-height: 30rem;
  }
}

.section {
  position: relative;

  &Name {
    background-color: $color-gray-lighter;
    color: $color-gray-darker;
    display: block;
    font-size: .75rem;
    line-height: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  & + & {
    margin-top: 1rem;
  }
}

.option {
  padding-left: 1em;
}

.footer {
  align-items: center;
  display: flex;
  width: 100%;

  &Button {
    margin: 0 .75rem;
    padding: 0 1.5rem;
  }

  &Count {
    font-weight: bold;
    padding-left: .5rem;
  }

  &Label {
    font-size: .75rem;
    line-height: 1.5rem;
  }

  &Section {
    flex-grow: 1;
    padding: .5rem 0;
  }
}
