@import '@/theme/include.scss';

$menu-item-padding: 1rem;

.appAside {
  align-items: center;
  background-color: $color-gray-lightest;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 3.5rem;
  z-index: 1000;

  &Bottom,
  &Top {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &Button {
    border-radius: .375rem;
    min-height: $menu-item-padding * 3;
    padding: $menu-item-padding;

    &:hover {
      background-color: $color-gray-lighter;
    }
  }

  &Logo {
    margin-bottom: .5rem;
    padding: $menu-item-padding;
  }
}

.menuItem {
  align-items: center;
  border-radius: .375rem;
  color: $color-gray-darker;
  display: flex;
  justify-content: center;
  padding: $menu-item-padding;

  &:hover {
    background-color: $color-gray-lighter;
  }

  &Active {
    color: $color-pink;
  }
}
