@import '@/theme/include.scss';

.entityDynamics {
  background: $color-gray-lighter;
  border-radius: .375rem;
  padding: 1rem 1.5rem;
  width: 100%;

  &Legend {
    text-align: center;

    &Checkbox {
      font-size: .875rem;

      & + & {
        margin-left: 1.5rem;
      }

      & > input {
        &[data-line='impressions'] {
          &:checked + span {
            background-color: #999da3;
            border-color: #999da3;
          }

          &:disabled + span {
            background-color: $color-gray;
            border-color: $color-gray;
          }
        }

        &[data-line='clicks'] {
          &:checked + span {
            background-color: #5f84c6;
            border-color: #5f84c6;
          }

          &:disabled + span {
            background-color: $color-gray;
            border-color: $color-gray;
          }
        }

        &[data-line='ctr'] {
          &:checked + span {
            background-color: #f27c30;
            border-color: #f27c30;
          }

          &:disabled + span {
            background-color: $color-gray;
            border-color: $color-gray;
          }
        }
      }
    }
  }
}
