@import '@/theme/include.scss';

.wrapper {
  // style
}

.row {
  & + & {
    margin-top: .5rem;
  }
}

.submit {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.confirm {
  position: relative;

  &Text {
    font-size: .875rem;
    line-height: 1.25;
    margin-bottom: 1.5rem;
  }

  &Spinner {
    background: rgba($color-gray-lighter, .75);
    font-size: 2rem;
  }

  &Actions {
    display: flex;
    justify-content: center;
  }

  &Button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    & + & {
      margin-left: 1rem;
    }
  }
}
