@import '@/theme/include.scss';

.wrapper {
  display: flex;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

.link {
  font-size: .875rem;

  &:not(:first-child) {
    margin-left: 1rem;
  }
}

.active {
  border-bottom: .25rem solid $color-pink;
  color: $color-black;
  padding-bottom: .75em;
}
