@import '@/theme/include.scss';

.editRoleForm {
  font-size: .75rem;
  padding: 1rem 0;

  &Button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    & + & {
      margin-left: 1rem;
    }
  }

  &Controls {
    padding: 1rem 0;
  }

  &Empty {
    color: $color-gray-darker;
    padding: 1.5rem 0 0;
    text-align: center;
  }

  &Label {
    line-height: 2rem;

    & > input {
      margin-right: .5rem;
    }
  }

  &List {
    padding: 1.5rem 0 0;
  }

  &Remove {
    color: $color-pink;
  }

  &Row {
    display: flex;
    justify-content: space-between;
  }
}
