@import '@/theme/include.scss';

.wrapper {
  padding: 2rem 0;
}

.navigation {
  @include button-reset();

  color: $color-primary-darkest;
  font-size: .875rem;
  padding-bottom: .5rem;

  & + & {
    margin-left: 1rem;
  }

  &.active {
    border-bottom: 5px $color-red-lightest solid;
    color: $color-red-lightest;
  }
}

.page {
  position: relative;
}

.error {
  margin-bottom: 1rem;
}

.spinnerOverlay {
  background-color: rgba($color-gray-lightest, .5);
}
