@import '@/theme/include.scss';

.page {
  padding-top: 2rem;
  position: relative;
}

.error {
  margin-bottom: 1rem;
}

.spinnerOverlay {
  background-color: rgba($color-gray-lightest, .5);
}

.dateInputs {
  margin-bottom: 1em;
}
