@import '@/theme/include.scss';

.headerWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editAbilitiesButton {
  margin-left: .65rem;
}

.addAbility {
  &Text {
    vertical-align: text-top;
  }

  &Button {
    margin-left: .5rem;
  }

  &Form {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &Error {
    margin-left: 1rem;
  }
}

