@import '@/theme/include.scss';

.headerWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editAbilitiesButton {
  margin-left: .65rem;
}

.addAbility {
  &Button {
    margin-left: .5rem;
  }
}

.removeAbilityButtonTd {
  text-align: right;
}
