@import '@/theme/include.scss';

.button {
  @include button-reset();

  font: inherit;

  .icon {
    opacity: 0;
  }

  &:hover {
    .icon {
      opacity: 1;
    }
  }

  &_active {
    .icon {
      opacity: 1;
    }

    &:hover {
      .icon:not(.current) {
        border-bottom-color: rgba($color-primary, .75);
        border-top-color: rgba($color-primary, .75);
      }
    }
  }
}

.icons {
  display: inline-flex;
  flex-direction: column;
  margin-left: .5em;
}

.icon {
  border: .375em solid transparent;
  width: 0;

  &_asc {
    border-bottom-width: 0;

    &.current {
      border-top-color: currentColor;
    }
  }

  &_desc {
    border-top-width: 0;
    margin-bottom: .25em;

    &.current {
      border-bottom-color: currentColor;
    }
  }
}
