@import '@/theme/include.scss';

.modal {
  background-color: $color-gray-lighter;
  border-radius: .85rem;
  left: 50%;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  &HeaderWrapper {
    align-items: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &HeaderTitle {
    margin: 0;
  }

  &CloseButton {
    height: 1rem;
    margin-left: 2rem;
    min-width: 0;
    padding: .2rem;
    width: 1rem;
  }
}
