@import '@/theme/include.scss';

.typeBar {
  &Wrapper {
    width: 100%;
  }

  &Button {
    justify-content: left !important;
    min-height: 3.5rem;
    color: $color-primary-lighter !important;

    &[data-active='true'] {
      background-color: $color-primary !important;
      color: $color-white !important;
    }
  }
}
