@import '@/theme/include.scss';

.spinner {
  animation: spinner-animation .6s linear infinite;
  background-color: transparent;
  border: .125rem solid $color-primary;
  border-bottom-color: transparent;
  border-radius: 50%;
  border-top-color: transparent;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.inline {
  font-size: 1em;

  & > .spinner {
    vertical-align: -.125em;
  }
}

.block,
.overlay {
  display: flex;
  font-size: 2em;
  height: 100%;
  padding: 1rem;
  width: 100%;

  & > .spinner {
    margin: auto;
  }
}

.overlay {
  background-color: rgba($color-gray-lightest, .75);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

@keyframes spinner-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
