@import '@/theme/include.scss';

.attributeDropPlaceholder {
  border-radius: .5rem;
  height: 0;
  left: 0;
  position: absolute;
  width: 100%;

  &_droppable {
    background-color: $color-primary;
    background-color: rgba($color-primary, .3);
    height: 1rem;
  }

  &_over {
    background-color: $color-primary;
    background-color: rgba($color-primary, .5);
  }
}
