@import '@/theme/include.scss';

.menu {
  &Accordion {
    box-shadow: 0px 1px 1px 0px $color-gray-lighter !important;

    &Select {
      &Wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    &AcceptButton {
      margin-top: .5rem !important;
    }
  }
}