@import '@/theme/include.scss';

.chart {
  height: 200px;
  width: 100%;
}

.tick {
  &Label {
    fill: $color-gray-darker;
    font-size: .625rem;
  }

  &Line {
    stroke: $color-gray;
    stroke: rgba($color-gray, .9);
  }
}
