@import '@/theme/include.scss';

.indicator {
  border-radius: 50%;
  display: block;
  height: .5rem;
  margin-left: .5rem;
  width: .5rem;
}

.red {
  background-color: $color-red-darkest;
}

.green {
  background-color: $color-green-darker;
}

.yellow {
  background-color: $color-accent-darker;
}
