@import '@/theme/include.scss';

$side-offset: .5rem;

.wrapper {
  border-radius: .375rem;
  box-sizing: border-box;
  color: $color-white;
  font-size: .75rem;
  height: 30rem;
  min-width: 16.875rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header {
  background: linear-gradient(to bottom, $color-black 0, transparent 100%);
  display: flex;
  flex-direction: column;
  height: 8.75rem;
  left: 0;
  padding: 0 $side-offset;
  position: absolute;
  top: 0;
  width: 100%;

  &:hover {
    opacity: 1;
  }

  &Marker {
    background-color: $color-white;
    height: .125rem;
    margin: $side-offset 0;
    width: 100%;
  }

  &Icon {
    border-radius: 50%;
    height: 2rem;
    margin-right: $side-offset;
    width: 2rem;
  }

  &InfoGroup {
    display: flex;
    flex-direction: row;
  }

  &Info {
    color: $color-white;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 17.25rem;
    min-width: 0;
    text-align: left;

    &Title {
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    &TypeDescripiton {
      font-size: .7rem;
      padding-top: .15rem;
    }
  }

  &OptionsButton {
    align-items: center;
    display: flex;
    height: 1.75em;
    justify-content: center;

    & > * {
      fill: $color-white;
    }

    & > *:not(:first-child) {
      margin-left: .5rem;
    }
  }
}

.content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.bottom {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $side-offset;
  position: absolute;
  width: 100%;

  &Button {
    background-color: $color-white;
    border: none;
    border-radius: .85rem;
    color: $color-black;
    font-weight: 600;
    line-height: 1.75em;
    margin-top: .5rem;
    min-width: 40%;
  }
}
