@import './include.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  background-color: $color-gray-lightest;
  color: $color-black;
  cursor: default;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

a,
button,
input[type='submit'] {
  cursor: pointer;
}

a {
  color: $color-primary-darkest;
  text-decoration: none;
  transition: opacity .3s;

  &:hover {
    opacity: .8;
  }
}

*:focus {
  outline: thin solid $color-primary-lightest;
  outline-offset: .125rem;
}

[data-js-focus-visible] *:focus:not([data-focus-visible-added]) {
  outline: 0;
}

.hasError,
.indicator-red {
  background-color: $color-pink;
}

.noError,
.indicator-green {
  background-color: $color-green-lighter;
}

.app-table {
  &__td {
    width: 50%;

    &_title {
      color: $color-gray-darker;
    }
  }
}

.td {
  &-checkbox {
    width: 2.25rem;
  }

  &-id {
    width: 4em;
  }
}

.icon-comment-alt-wrp {
  font-size: .8em;
  opacity: .2;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.25em;
}

.handlers {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.25rem;
}

.category-list {
  display: flex;
  height: $categories-height;
}

.category-item {
  display: block;
  margin-right: 2em;
  padding-bottom: 1em;
  position: relative;
  white-space: nowrap;

  &.router-link-active,
  &:hover {
    color: unset;

    &::after {
      background-color: $color-pink;
      border-radius: .125em;
      bottom: 0;
      content: '';
      height: .25em;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &.router-link-active {
    pointer-events: none;
  }

  &_disabled,
  &_disabled:hover,
  &_disabled:focus {
    color: $color-gray-darker;

    &::after {
      display: none;
      opacity: 0;
    }
  }

  &__amount {
    color: $color-black;
    padding-left: .75em;
  }

  &__indicator {
    background-color: #d81858;
    border-radius: 50%;
    display: inline-block;
    font-size: .675rem;
    height: 1em;
    margin-left: 1em;
    width: 1em;
  }
}

.button-control {
  background-color: transparent;
  border: none;
}

.red {
  color: $color-red-darkest;
}

.link-class_nav {
  font-size: .875rem;
  padding-bottom: .5rem;

  &:not(:first-of-type) {
    margin-left: 1rem;
  }
}

.nav-links-wrapper {
  display: flex;
  margin-bottom: .5rem;
}

.active-link-class {
  color: $color-primary;

  &_nav {
    border-bottom: 5px $color-red-lightest solid;
    color: $color-red-lightest;
  }
}
