table {
  border-collapse: collapse;
  border-color: inherit;
  border-spacing: 0;
  line-height: 18px;
  vertical-align: middle;
  width: 100%;
}

td {
  &:not(:last-child) {
    padding: 10px 20px 10px 10px;
  }
}

tr {
  align-items: center;
  font-size: .825em;
  padding: 0;
  width: 100%;

  &[filter] {
    margin-bottom: .25rem;
  }

  &[header] {
    background-color: #dcdde0;
    border-radius: .375rem;
    color: #363b41;
    margin-top: 8px;
    vertical-align: middle;

    & > td {
      font-size: 13px;
      font-weight: bold;
      padding-bottom: 12px;
      padding-top: 12px;
    }
  }

  &[content] {
    border-bottom: 1px $color-gray-lighter dotted;
  }
}
