@mixin button-reset {
  align-items: center;
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  display: inline-flex;
  font-family: inherit;
  font-size: 1em;
  justify-content: center;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

@mixin heading {
  font-size: 1rem;
  font-weight: bold;
}

@mixin table {
  border-collapse: collapse;
  border-spacing: 0;

  & > tbody {
    & > tr {
      &:not(:first-child) {
        border-bottom: thin dashed $color-gray-lighter;
      }

      & > td,
      & > th {
        color: $color-primary-darkest;
        font-size: .75rem;
        line-height: 2.5rem;
        padding: 0 .5rem;
      }

      & > td {
        //
      }

      & > th {
        background: $color-gray;

        &:first-child {
          border-radius: .5rem 0 0 .5rem;
        }

        &:last-child {
          border-radius: 0 .5rem .5rem 0;
        }
      }
    }
  }
}
