@import '@/theme/include.scss';

.form {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  & > *:not(:first-child):not(.checkbox) {
    margin-top: .5rem;
  }
}

.error {
  color: $color-red;
  font-size: .8rem;
  margin: 0;
}

.checkbox {
  height: auto;

  &Wrapper {
    align-items: center;
    display: flex;
    font-size: .8rem;
  }
}
