@import '@/theme/include.scss';

.attributes {
  &Table {
    & td {
      &:not(:first-child) {
        text-align: right;
      }
    }

    & tr {
      &[data-opened='true'] {
        & > td {
          background: $color-gray-lighter;
        }
      }
    }

    &Button {
      margin-right: .5rem;
    }
  }
}
