@import '@/theme/include.scss';

.attributes {
  &Table {
    & td {
      &:not(:first-child) {
        text-align: right;
      }
    }

    & tr {
      &[data-opened='true'] {
        & > td {
          // FIXME: move to global colors
          background: #eeeff2;
        }
      }
    }

    &Button {
      margin-left: -.5rem;
      margin-right: .25rem;
    }

    &Cell {
      display: flex;
    }

    &Empty {
      display: inline-block;
      text-align: center;
      width: 100%;
    }

    &Name {
      display: flex;
      flex-direction: column;

      &Sub {
        color: $color-gray-darker;
        font-size: .75rem;
      }
    }

    &LastValue {
      font-weight: bold;
    }

    &HistoryValue {
      color: $color-gray-darker;
      font-size: .75rem;
    }
  }
}
