@import '@/theme/include.scss';

.modal {
  background: $color-gray-lighter;
  border-radius: 1rem;
  left: 50%;
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &Close {
    @include button-reset();

    color: $color-gray-darkest;
    font-size: 1rem;
  }

  &Header {
    align-items: flex-top;
    display: flex;
    font-size: .875rem;
    font-weight: bold;
    justify-content: space-between;
    padding-bottom: .5rem;
  }
}

.wrapper {
  background: $color-gray-darkest;
  background: rgba($color-black, .75);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
