@import '@/theme/include.scss';

.tableView {
  & td {
    &[data-purpose='filter'] {
      padding-right: 0;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &Button {
    margin-left: .75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &Cell {
    display: flex;
    width: 100%;
  }

  &Download {
    &Label {
      pointer-events: none;
    }
  }

  &Entities {
    color: $color-black;
    display: inline-block;
    font-size: .75rem;

    & + & {
      padding-left: .5rem;
    }

    &Label {
      color: $color-gray-darker;
    }
  }
}
