@import '@/theme/include.scss';

.editUserForm {
  padding: 2rem 0;

  &,
  &Input {
    font-size: .75rem;
  }

  & > label {
    display: block;
    padding: .5rem 0;
  }

  &Button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &[data-type='remove'] {
      background-color: $color-pink;
      border-color: $color-pink;

      &:hover {
        background-color: $color-red;
        border-color: $color-red;
      }
    }

    & + & {
      margin-left: 1rem;
    }
  }

  &Label {
    display: inline-block;
    width: 6rem;
  }

  &Input {
    width: 16rem;
  }

  &Row {
    padding: 1.5rem 0;
  }
}
