@import '@/theme/include.scss';

.reactionsTonality {
  &Chart {
    height: 200px;
    width: 100%;
  }

  &TickX {
    &Label {
      fill: $color-gray-darker;
      font-size: .625rem;
      text-anchor: center;
    }
  }

  &TickY {
    &Label {
      font-size: .625rem;
    }

    &Line {
      stroke: $color-gray-lighter;
      stroke: rgba($color-gray-lighter, .9);
    }
  }
}
