@import '@/theme/include.scss';

.wrapper {
  background-color: $color-gray-lighter;
  border-radius: .375rem;
  display: flex;
  flex-direction: column;
  height: calc(60vh);
  justify-content: space-between;
}

.contentWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
}

.icon {
  color: $color-gray-icon;
  font-size: 7.5rem;
}

.titleWrapper {
  align-items: center;
  color: $color-gray-darker;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: normal;
  justify-content: center;
  margin-top: 2.5rem;
  text-align: center;
  width: 45%;
}

.select {
  width: 13rem;
}

.errorListPopupOpenButton {
  color: $color-primary-darkest;
  font-size: 1rem;
  margin-left: .2em;
  padding: 0;
}

.textWrapper {
  align-items: center;
  display: flex;
}
