@import '@/theme/include.scss';

.navBar {
  display: flex;
  align-items: baseline;
  text-align: center;
  justify-content: center;

  &Link {
    text-decoration: none;
    padding: 1rem;
    color: $color-gray-darkest;
    font-size: 1.25rem;

    &Active {
      color: $color-primary-lighter;
      border-bottom: 5px solid $color-primary-lighter;
    }
  }

  &Avatar {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    border: thin $color-primary-lighter solid;
  }

  &Button {
    background-color: transparent;
    border: none;

    &:hover .navBarAvatar {
      border: 3px $color-primary-lighter solid;
    }
  }

  &Menu {
    &Wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}