@import '@/theme/include.scss';

.entityDynamics {
  background: $color-gray-lighter;
  border-radius: .375rem;
  padding: 1rem 1.5rem;
  width: 100%;

  &Legend {
    font-size: .75rem;
    text-align: center;

    &Label {
      display: inline-block;

      & + & {
        margin-left: 1.5rem;
      }
    }
  }
}
