@import '@/theme/include.scss';

.commonInfo {
  display: flex;

  &Column {
    flex-basis: 0;
    flex-grow: 1;

    &:last-child {
      display: flex;
    }
  }

  &Table {
    & td {
      &:first-child {
        color: $color-gray-darker;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
