@import '@/theme/include.scss';

.editRole {
  &Error {
    margin-left: 1rem;
    white-space: nowrap;
  }

  &CheckboxWrapper {
    display: flex;
    flex-direction: column;
  }

  &AddAbilitiesTextWrapper {
    vertical-align: text-top;
  }

  &CheckboxLabel {
    white-space: nowrap;
  }
}

