@import '@/theme/include.scss';

.header {
  align-items: center;
  display: flex;

  &_title {
    font-weight: bold;
  }
}

.navigation {
  margin-top: 1rem;
}

.page {
  position: relative;
}

.error {
  margin-bottom: 1rem;
}

.spinner {
  bottom: 1em;
  position: sticky;
  top: 1em;
}
