@import '@/theme/include.scss';

.wrapper {
  align-items: flex-start;
  display: inline-block;
  display: inline-flex;
  line-height: 1;
  position: relative;
}

.input {
  appearance: none;
  display: inline-block;
  height: .75em;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: .75em;
}

.box {
  background-color: $color-white;
  border: thin solid $color-gray-darker;
  border-radius: .25em;
  color: $color-white;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: .875em;
  height: 1em;
  line-height: 1;
  text-align: center;
  transition:
    background-color .2s,
    border .2s,
    color .2s;
  width: 1em;
}

.icon {
  font-size: .625em;
  vertical-align: .125em;
}

.label {
  display: inline-block;
  flex-shrink: 1;
  font-size: .75em;
  line-height: inherit;
  margin-top: .125em;
}

.box + .label {
  margin-left: .5rem;
}

.input:checked + .box {
  background-color: $color-primary;
  border-color: $color-primary;
}

.input:disabled + .box {
  background-color: $color-gray-lighter;
  border-color: $color-gray-darker;
  color: $color-gray-lighter;
}

.input:disabled:checked + .box {
  color: $color-gray-darker;
}

.box:hover,
.input:focus + .box {
  border-color: $color-primary-darker;
}
