@import '@/theme/include.scss';

.aside {
  align-self: flex-start;
  position: sticky;
  top: 0;

  &Title {
    font-size: .875rem;
    font-weight: bold;
    margin: 0;
    padding: .5rem 0;

    &Small {
      font-size: .75rem;
    }

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  &Meta {
    font-size: .75rem;
    margin-bottom: 1.5em;
  }
}
