@import '@/theme/include.scss';

.reactionsComments {
  position: relative;

  &Chart {
    height: 200px;
    width: 350px;
  }
}

.spinnerOverlay {
  background-color: rgba($color-gray-lighter, .5);
}
