@import '@/theme/include.scss';


.selectionWrapper {
  align-items: center;
  display: flex;
}

.textWrapper {
  white-space: nowrap;
}

.value {
  font-weight: bold;

  &::before {
    color: $color-black;
    content: ': ';
    font-weight: 300;
  }
}

.separator {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 1rem;
}

.topWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.changeButton {
  margin-left: 2.5rem;
}

.buttonsWrapper {
  display: flex;

  & > button {
    margin-left: 1rem;
    width: 6.75rem;
  }
}

.downloadExcelModel {
  margin-right: 1rem;
}

.select {
  width: 13rem;
}
