.td {
  &Size {
    &Wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  }
}

.loadImages {
  &Table {
    & td {
      &[data-purpose='filter'] {
        padding-right: 0;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    &Button {
      margin-left: .75rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &Cell {
      align-items: center;
      display: flex;
    }
  }
}

.indicatorWrapper {
  align-items: center;
  display: flex;
}

.tableFileIcon {
  height: auto;
  width: 2.313rem;
}

.loadButtonsWrapper {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1.25rem;
}

