@import '@/theme/include.scss';

.contentWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadButtonsWrapper {
  display: inline-flex;
  margin: .85rem 0 1rem 1rem;
}

.loadButton {
  padding: 0;
}

.row {
  align-items: center;
  display: flex;
  font-size: .825em;
  padding: 0;
  width: 100%;

  &Filter {
    margin-bottom: .25rem;
  }

  &Content {
    border-bottom: 1px $color-gray-lighter dotted;
  }
}

.col {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 2.5rem;
  min-width: 0;
  padding: 0 .25em;

  &:not(.colFilter) {
    padding: 0 .75em;
  }

  &Num {
    flex-grow: 0;
    flex-shrink: 0;
    width: 5.65rem;
  }

  &Title {
    flex-grow: 1;
    width: 28.438rem;
  }

  &AdFormat {
    flex-grow: 0;
    flex-shrink: 0;
    width: 8.15rem;
  }

  &Banner {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 25%;

    &IconsWrapper {
      align-items: center;
      display: inline-flex;
      justify-content: space-between;
      margin-right: 3.5rem;
      width: 8.125rem;
    }
  }

  &Submit {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: 5.5rem;
  }

  & :global(.u-select__select) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    // stylelint-disable-next-line
    min-width: 0 !important;
  }

  & :global(.u-select .u-dropdown_fullwidth) {
    min-width: 100%;
    width: auto;
  }
}

.filterSubmit {
  width: 100%;
}

.row:not(.rowFilter) .col {
  padding-bottom: .5em;
  padding-top: .5em;

  &Header {
    background-color: $color-gray-lighter;
  }

  &:first-child {
    border-radius: .25em 0 0 .25em;
    margin-left: .25em;
    margin-right: -.25em;
  }

  &:last-child {
    border-radius: 0 .25em .25em 0;
    margin-left: -.25em;
    margin-right: .25em;
    padding-right: 0;
  }
}

.table {
  width: 100%;

  &TimesIcon {
    font-size: .625rem;
  }

  &FileIcon {
    height: auto;
    width: 2.313rem;
  }
}

.loadIconEmptySpace {
  width: 1.313rem;
}
