@import '@/theme/include.scss';

.statisticsDetails {
  &Chart {
    &Header {
      display: inline-block;
      text-align: center;
      width: 100%;
    }

    &Rectangle {
      display: inline-block;
      height: .5rem;
      width: .5rem;
    }
  }

  &Charts {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    & > * {
      flex-grow: 1;
    }
  }

  &Header {
    display: flex;
  }
}
