@import '@/theme/include.scss';

.statisticsDetails {
  &Chart {
    &Header {
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }

  &Charts {
    display: flex;
    flex-wrap: wrap;
  }

  &Header {
    display: flex;
  }
}
