@import '@/theme/include.scss';

.appHeader {
  align-items: center;
  display: flex;
  margin: -1rem auto;
  max-width: 100%;
  padding: 1rem 0;
  width: 100%;
  z-index: 10;

  &Link {
    color: $color-primary-darkest;
    display: inline-block;
    font-size: .75rem;
    margin-right: 1rem;
  }
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
