@import '@/theme/include.scss';

.wrapper {
  position: relative;
}

.segmentsList {
  &Controls {
    align-items: center;
    display: flex;
  }

  &Error {
    color: $color-red-darkest;
    display: inline-block;
    font-size: .75rem;
    padding: 1rem 0 0;
  }
}

.spinnerOverlay {
  background-color: rgba($color-gray-lightest, .5);
}
