@import '@/theme/include.scss';

.attributesLabels {
  display: flex;
  padding: .5rem 0;

  &Label {
    font-size: .75rem;
    font-weight: bold;
    min-width: 7.5rem;

    &:nth-child(n + 3) {
      text-align: right;
    }

    &:nth-child(3) {
      padding-right: 1.75rem;
    }

    &:last-child {
      padding-right: 2.75rem;
      width: 8.75rem;
    }
  }

  &Placeholder {
    flex-grow: 1;
  }
}
