@import '@/theme/include.scss';

.attributesLabels {
  display: flex;
  padding: .5rem 0;

  &Label {
    font-size: .75rem;
    font-weight: bold;
    min-width: 7.5rem;

    &:last-child {
      width: 8.75rem;
    }
  }

  &Placeholder {
    flex-grow: 1;
  }
}
