@import '@/theme/include.scss';

.attribute {
  align-items: stretch;
  display: flex;
  position: relative;

  & + & {
    margin-top: 2rem;

    &::after {
      background: $color-gray;
      color: $color-pink;
      content: 'ИЛИ';
      display: block;
      font-size: .75rem;
      left: 9rem;
      padding: 0 .25rem;
      position: absolute;
      top: -1.325rem;
    }

    &::before {
      border-top: thin solid $color-gray-darker;
      content: '';
      display: block;
      left: .5rem;
      position: absolute;
      right: .5rem;
      top: -1rem;
    }
  }

  &Aside {
    width: 1rem;
  }

  &Button {
    @include button-reset();
  }

  &Equality {
    height: inherit;
    margin: 0 .5rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
  }

  &Main {
    align-items: inherit;
    display: inherit;
    flex-grow: 1;
  }

  &Message {
    font-size: .75rem;
    padding: .25rem 1rem;
  }

  &Icon {
    color: $color-accent-darkest;
    pointer-events: none;
  }

  &Title {
    display: inline-block;
    font-size: .75rem;
    font-weight: bold;
    padding: 0 .5rem;
    width: 10rem;
  }
}
