@import '@/theme/include.scss';

.controlsButton {
  @include button-reset();

  align-items: center;
  color: $color-gray-darker;
  display: flex;
  flex-direction: column;
  font-size: .75rem;
  font-weight: bold;
  line-height: 1.33;

  & + & {
    margin-left: 1rem;
  }

  &Icon {
    color: $color-primary-darkest;
    font-size: 1.25rem;
    padding: .5rem;
  }
}
