@import '@/theme/include.scss';

.chart {
  height: 200px;
  position: relative;
  width: 100%;
}

.tooltip {
  background-color: $color-gray-lighter;
  border: $color-gray-darker dotted;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  font-size: .75em;
  min-width: 5rem;
  opacity: 0;
  padding: .5rem;
  position: absolute;
  text-align: left;

  &[data-active='true'] {
    opacity: 1;
  }

  &Text {
    font-size: .5em;
  }
}

.XTick {
  &Label {
    fill: $color-gray-darker;
    font-size: .625rem;
  }
}

.YTick {
  &Label {
    fill: $color-black;
    font-size: .625rem;
  }

  &Line {
    stroke: $color-gray;
    stroke: rgba($color-gray, .9);
  }
}
