@import '@/theme/include.scss';

.attributeNumber {
  display: flex;

  &Message {
    display: inline-block;
    font-size: .75rem;
    width: 100%;
  }

  &Row {
    & + & {
      padding-top: 1rem;
    }
  }

  &Section {
    align-items: stretch;
    display: flex;

    &_form {
      width: 18rem;
    }
  }
}
