@import '@/theme/include.scss';

.attributeNumber {
  display: flex;

  &Message {
    display: inline-block;
    font-size: .75rem;
    width: 100%;
  }

  &Row {
    & + & {
      padding-top: 1rem;
    }
  }

  &Section {
    align-items: stretch;
    display: flex;

    &:last-child {
      flex-grow: 1;
      justify-content: space-between;
    }

    &_form {
      width: 15rem;
    }
  }
}
