@import '@/theme/include.scss';

.tableView {
  & td {
    &[data-purpose='filter'] {
      &:first-child,
      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &Button {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &Cell {
    display: flex;
    width: 100%;
  }

  &Input {
    margin-right: .75rem;
  }
}
