@import '@/theme/include.scss';

.tableView {
  @include table();

  &Button {
    margin-left: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &Cell {
    display: flex;
    width: 100%;
  }
}
