@import '@/theme/include.scss';

.attributeDate {
  display: flex;

  &Input {
    margin: .25rem 0;
  }

  &Section {
    align-items: stretch;
    display: flex;

    &:first-child {
      flex-grow: 1;
    }

    &:last-child {
      flex-shrink: 0;
      width: 24.5rem;
    }

    &_form {
      width: 15rem;
    }
  }
}
