@import '@/theme/include.scss';

.attributeDatasetsForm {
  min-width: 40rem;

  &Table {
    & th,
    & td {
      padding: 0;

      &:first-child {
        text-align: left;
      }

      &:not(:first-child) {
        text-align: right;
      }

      &:last-child {
        padding-right: 2.5rem;
      }
    }

    & tr {
      font-size: .75rem;
      line-height: 2em;
    }

    &Wrapper {
      max-height: 15rem;
      overflow-y: scroll;
    }
  }
}

.trHeader {
  border-bottom: solid 1px $color-gray;
}

.tdSelect {
  align-items: center;
  display: flex;
  margin-left: -.25rem;

  & > input {
    margin-right: .75rem;
  }
}

.attributeDatasetsFormFooter {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  &Counter {
    font-size: .75rem;
    left: 1.5rem;
    position: absolute;
  }

  &Buttons {
    & > button {
      min-width: 7.5rem;
    }

    & > button:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}
