@import '@/theme/include.scss';

$indent-horizontal: 2em;

.index {
  color: $color-gray-darker;
}

.border {
  border-right: thin solid $color-white;
  padding-right: $indent-horizontal;

  & + * {
    padding-left: $indent-horizontal;
  }
}
