@import '@/theme/include.scss';

.tagsWrapper {
  display: flex;
  flex-direction: column;
}

.removeRoleButton {
  color: $color-red-darkest;
  height: 100%;
  margin-left: .5rem;
  padding: 0;
}

.addRole {
  &Button {
    margin-left: .5rem;
  }

  &Form {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &Error {
    margin-left: 1rem;
  }
}

