@import '@/theme/include.scss';

.attributeStatistics {
  display: flex;
  flex-grow: 1;
  font-size: .75rem;
  padding: 0 .5rem;

  &Spinner {
    text-align: center;
    width: 100%;
  }

  &Value {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 1rem;
    text-align: right;
  }
}
