@import '@/theme/include.scss';

.form {
  align-items: center;
  display: flex;
}

.inputs {
  margin: 0 .5em;
}

.arrow {
  @include button-reset();

  border: thin solid transparent;
  border-radius: .25em;
  color: $color-primary-darkest;
  padding: .5em;

  &:hover {
    background-color: $color-gray-lighter;
  }

  &:disabled {
    color: $color-gray-darker;
    cursor: default;
    pointer-events: none;
  }
}

.submit {
  margin-left: .5rem;
}

.error {
  border: thin solid $color-red-lighter;
}

.dropdown {
  background-color: $color-white;
  border-radius: .25rem;
  box-shadow: 0 0 .125rem 0 rgba($color-black, .5);
  padding: .375rem .75rem .5rem;
  position: absolute;
}

.quickOptions {
  position: relative;

  &_button {
    background-color: $color-gray-darker;
    border-color: $color-gray-darker;
    margin-left: .5em;
    min-width: unset;

    &:hover {
      background-color: $color-gray-darker;
      border-color: $color-gray-darker;
    }

    &:disabled {
      background-color: $color-gray;
      border-color: $color-gray;
    }

    &[data-active='true'] {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }

  &_dropdown {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    right: 0;
    top: calc(100% + .25rem);
    z-index: 10;
  }

  &_item {
    @include button-reset();

    color: $color-primary;
    font-size: .875em;

    & + & {
      margin-top: .5em;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
