@import '@/theme/include.scss';

.attributesGroup {
  background-color: $color-gray-lighter;
  border-radius: .5rem;
  padding: .5rem 0;
  position: relative;

  & + & {
    margin-top: 2rem;

    &::before {
      color: $color-pink;
      content: 'Ð˜';
      font-size: .75rem;
      left: 10rem;
      position: absolute;
      top: -1.325rem;
    }
  }

  &[data-is-over='true'] {
    background-color: $color-primary;
    background-color: rgba($color-primary, .5);
  }
}
